<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ServletLogar</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletLogar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogar</servlet-name>
        <url-pattern>/logar</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletSelecaoExibirProduto</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletSelecaoExibirProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSelecaoExibirProduto</servlet-name>
        <url-pattern>/selecao_exibir_produto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletCadastroProduto</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletCadastroProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCadastroProduto</servlet-name>
        <url-pattern>/cadastro_produto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletSelecaoAtualizacaoProduto</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletSelecaoAtualizacaoProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSelecaoAtualizacaoProduto</servlet-name>
        <url-pattern>/selecao_atualizacao_produto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletAtualizacaoProduto</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletAtualizacaoProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAtualizacaoProduto</servlet-name>
        <url-pattern>/atualizacao_produto</url-pattern>
    </servlet-mapping>
       
    <servlet>
        <servlet-name>ServletExclusaoProduto</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletExclusaoProduto</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExclusaoProduto</servlet-name>
        <url-pattern>/exclusao_produto</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletCadastroEstoque</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletCadastroEstoque</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCadastroEstoque</servlet-name>
        <url-pattern>/cadastro_estoque</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletSelecaoAtualizacaoEstoque</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletSelecaoAtualizacaoEstoque</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSelecaoAtualizacaoEstoque</servlet-name>
        <url-pattern>/selecao_atualizacao_estoque</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAtualizacaoEstoque</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletAtualizacaoEstoque</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAtualizacaoEstoque</servlet-name>
        <url-pattern>/atualizacao_estoque</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletExclusaoEstoque</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletExclusaoEstoque</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExclusaoEstoque</servlet-name>
        <url-pattern>/exclusao_estoque</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletCadastroVenda</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletCadastroVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletCadastroVenda</servlet-name>
        <url-pattern>/cadastro_venda</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletExclusaoVenda</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletExclusaoVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletExclusaoVenda</servlet-name>
        <url-pattern>/exclusao_venda</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletSelecaoAtualizacaoVenda</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletSelecaoAtualizacaoVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletSelecaoAtualizacaoVenda</servlet-name>
        <url-pattern>/selecao_atualizacao_venda</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>ServletAtualizacaoVenda</servlet-name>
        <servlet-class>br.com.upsale.servlets.ServletAtualizacaoVenda</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletAtualizacaoVenda</servlet-name>
        <url-pattern>/atualizacao_venda</url-pattern>
    </servlet-mapping>
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
